.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 10rem;
    min-height: 100vh;
}

.home .image{
    flex:1 1 45rem;
}

.home .image img{
    width: 100%;
}

.home .content{
    flex:1 1 45rem;
}

.home .content h3{
    font-size: 4.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:var(--black);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}

.home .content p{
    font-size: 1.7rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display: inline-block;
    color:var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

/* .btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border:var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color:var(--green);
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
} */

.btn span{
    padding:.7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color:#6AE0F0;
    margin-left: .5rem;
}

.btn:hover{
    background: var(--green);
    color:#6AE0F0;
}

.btn:hover span{
    color: var(--green);
    background:#fff;
    margin-left: 1rem;
}